<div class="modal-header">
    <h1 class="text-center" ng-if="!$ctrl.resolve.send">Preview</h1>
    <h1 class="text-center" ng-if="$ctrl.resolve.send">Parametryzowanie danych dla klienta</h1>
</div>

<div class="modal-body ">
<form name="Form">



    <div class="row">


        <div  class="row">


            <div class="row" ng-repeat="mail in $ctrl.detail.toArray">
                <div class="panel-body col-md-3">
                    <div style="margin-left:15px; margin-top:10px">


                        <p><b>{{mail.client}} </b> ({{mail.email}})</p>

                    </div>

                </div>

                    <div ng-if = "$ctrl.detail.contract" class="col-md-3"> <label> Proszę wybierz kontrakt</label>
                        <ui-select ng-model="ctrl.contract.contracts" title="Choose contract"  validator="required" name="{{contract+$index}}">
                            <ui-select-match placeholder="Select or search contract...">{{$select.selected.created}}</ui-select-match>
                            <ui-select-choices   ng-click="$ctrl.selectedContract($select.selected,$index)" repeat="contracts in $ctrl.contractArray[$index] | filter: $ctrl.select.search">
                                <span ng-click="$ctrl.selectContract(contracts)" ng-bind-html="contracts.created | highlight: $ctrl.select.search"></span>
                                <small ng-bind-html="contracts.power | highlight: $ctrl.select.search"></small>
                            </ui-select-choices>
                        </ui-select>



                    </div>

                    <div class="col-md-3 " ng-if="$ctrl.ppesArray[$index].length">
                        <div>

                            <label><strong>Proszę wybierz punkty PPE</strong></label>
                            <ui-select ng-model="ctrl.contract.ppe" title="Choose ppe" validator="required" name="ppe+{{$index}}">
                                <ui-select-match placeholder="Select or search ppe...">{{$select.selected.id}}</ui-select-match>
                                <ui-select-choices ng-click="$ctrl.selectedPpe($select.selected, $index)" repeat="ppe in $ctrl.ppesArray[$index] | filter: $select.search">
                                    <span ng-bind-html="ppe.apartment | highlight: $select.search"></span>
                                    <small ng-bind-html="ppe.id | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>



                        </div>

                    </div>

                    <div  ng-if="$ctrl.detail.calculation" class="col-md-3">
                        <label><strong>Proszę wybierz kalkulację</strong></label>
                        <ui-select ng-model="ctrl.contract.calc" title="Choose calc" validator="required" name="calc+{{$index}}">
                            <ui-select-match placeholder="Select or search calculation...">{{$select.selected.id}}</ui-select-match>
                            <ui-select-choices ng-click="$ctrl.selectedCalculation($select.selected, $index)"  repeat="calc in $ctrl.calculationArray[$index] | filter: $select.search">
                                <span ng-bind-html="calc.apartment | highlight: $select.search"></span>
                                <small ng-bind-html="calc.id | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>


                    <div ng-if="!$ctrl.resolve.send" style = "margin-top:23px" class="col-md-3" >
                        <button class="btn btn-primary" ng-click = "$ctrl.generatePreview($index)">Preview</button>
                    </div>



            </div>
        </div>


    </div>
</div>



<div class="modal-footer textAlign--reset">
    <div class="row">
        <div class="col-md-12">
            <div class="well" ng-if="$ctrl.showContent">


                <p ng-bind-html="$ctrl.contentHtml ">

                </p>

                <p>

                </p>
            </div>
        </div>
        <div class="col-md-12">



            <button ng-if="!$ctrl.resolve.send" ng-click="$ctrl.cancel()" class="btn btn-sm btn-success btn-block" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close"></i> Close preview</button>
            <button validation-submit="Form"  ng-if="$ctrl.resolve.send" ng-click="$ctrl.sentAll();$ctrl.ok()" class="btn btn-sm btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-send"></i> Send</button>
            <button ng-if="$ctrl.resolve.send" ng-click="$ctrl.cancel()" class="btn btn-sm btn-warning btn-block" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-close"></i> Cancel</button>
        </div>

    </div>


</div>


</form>
