<div class="row">

    <form class="form-horizontal">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row"></div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Długość umowy:</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="clientType" ng-model="aqFinderContractLengthMonths">
                                <option value=""></option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Sposób podpisania kontraktu:</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="clientType" ng-model="aqFinderContractSignatureMethod">
                                <option value=""></option>
                                <option value="ONLINE">przez internet</option>
                                <option value="PAPER">w wersji papierowej</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Rodzaj energii:</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="clientType" ng-model="aqFinderContractEnergyType">
                                <option value=""></option>
                                <option value="GREEN">zielona</option>
                                <option value="BLACK">czarna</option>
                            </select><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Rodzaj faktury:</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="clientType" ng-model="aqFinderContractInvoiceType">
                                <option value=""></option>
                                <option value="ONLINE">elektroniczna</option>
                                <option value="PAPER">papierowa</option>
                            </select><br>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row"></div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Numer umowy:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderContractNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Status umowy:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Od" ng-model="aqFinderContractStatusFrom">
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" placeholder="Do" ng-model="aqFinderContractStatusTo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Podpisano dnia:</label>
                        <div class="col-lg-6">
                            <p class="input-group">
                                <input type="text"
                                    class="form-control"
                                    placeholder="Date"
                                    uib-datepicker-popup = "dd-MMMM-yyyy"
                                    ng-model="aqFinderContractSigned"
                                    is-open="aqSearchCalendarFrom.opened"
                                    datepicker-options="dateOptions"
                                    ng-required="true" close-text="Close"
                                    />

                                <span class="input-group-btn">
                                    <button
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="aqSearchSelectDateFrom()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">



                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-8">
                                <label>Wyszukiwanie dowolne:</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="aqFinderGlobalSearch">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="aqFinderGetData()" type="button" class="btn btn-primary btn-md">Wyszukaj</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="aqFinderClearData()" type="button" class="btn btn-primary btn-md">Wyczyść</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="" type="button" class="btn btn-primary btn-md">Export do xls</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- client table -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table table-responsive">
                    <!-- endpoint-source-name -->
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>lp.</th>
                                <th>Typ Umowy</th>
                                <th>Sposób podpisania kontraktu</th>
                                <th>Rodzaj energii</th>
                                <th>Rodzaj faktury</th>
                                <th>Numer umowy</th>
                                <th>Status umowy</th>
                                <th>Podpisano dnia</th>
                            </tr>
                        </thead>
                        <tbody>
                             <!-- ng-if="aqFinderClientType=='INDIVIDUAL'?client.firstName:client.companyName" -->
                            <tr ng-repeat="contract in  $ctrl.dataFromServiceCollectionClients">
                                <td><input type="checkbox"  ng-click="$ctrl.rowSelectionChange(contract)"> </td>
                                <td>{{ contract.id}}</td>
                                <td>{{ contract.type}}</td>
                                <td>{{ contract.contractSignatureMethod}}</td>
                                <td>{{ contract.energyType}}</td>
                                <td>{{ contract.invoiceType}}</td>
                                <td>{{ contract.number}}</td>
                                <td>{{ contract.contractStatus.status}}</td>
                                <td>{{ contract.signed | date:"yyyy/MM/dd" }}</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div >
                                        <ul uib-pagination total-items="$ctrl.totalItemsClients" items-per-page="$ctrl.itemsPerPage" max-size="$ctrl.maxSize" ng-model="$ctrl.currentPageClients" ng-change="$ctrl.pageChanged()"></ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
