<div class="row">

    <form class="form-horizontal">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row"></div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Typ Klienta:</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="clientType" ng-model="aqFinderClientType">
                                <option value=""></option>
                                <option value="INDIVIDUAL">dom</option>
                                <option value="BUSINESS">firma</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr Klienta:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientNumber">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr umowy:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientContractNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">NIP:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientNip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">KRS:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientKrs">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row"></div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nazwa Klienta:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="title" ng-model="aqFinderClientName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Imię:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientFirstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nazwisko:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientSurname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">PESEL:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientPesel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Mail:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientMail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr tel.kom:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientPhoneNumber">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Miasto:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientCity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Ulica:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientStreet">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr budynku:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientBuildingNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr lokalu:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientLocalNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Kod pocztowy:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderClientPostalCode">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-8">
                                <label>Wysukiwanie dowolne:</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="aqFinderGlobalSearch">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="aqFinderGetData()" type="button" class="btn btn-primary btn-md">Wyszukaj</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="aqFinderClearData()" type="button" class="btn btn-primary btn-md">Wyczyść</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="" type="button" class="btn btn-primary btn-md">Export do xls</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- client table -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table table-responsive">
                    <!-- endpoint-source-name -->
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>lp.</th>
                                <th>Typ Klienta</th>
                                <th >Nazwa Klienta</th>
                                <th>Status umowy</th>
                                <th>Opiekun Klienta</th>
                                <th>Mail</th>
                                <th>Nip</th>
                                <th>PESEL</th>
                                <th>Miasto</th>
                                <th>Saldo Klienta</th>
                                <th>Szacowane Zużycie Roczne</th>
                                <th>Nr Umowy</th>
                            </tr>
                        </thead>
                        <tbody>
                             <!-- ng-if="aqFinderClientType=='INDIVIDUAL'?client.firstName:client.companyName" -->
                            <tr ng-repeat="client in  $ctrl.dataFromServiceCollectionClients">
                                <td><input type="checkbox"  ng-click="$ctrl.rowSelectionChange(client)"> </td>
                                <td>{{ client.id}}</td>
                                <td>{{ client.type}}</td>
                                <td >{{ client.firstName}} {{ client.surname}} {{client.companyName}}</td>
                                <td>{{ client.contracts[0].contractStatus.status}}</td>
                                <td>{{ client.user.username}}</td>
                                <td>{{ client.emailContacts[0].emailAddress}}</td>
                                <td>{{ client.nip}}</td>
                                <td>{{ client.pesel}}</td>
                                <td>{{ client.addresses[0].city}}</td>
                                <td>{{ client.saldo}}</td>
                                <td>{{ client.contracts[0].ppes[0].yearlyUsage}}</td>
                                <td>{{ client.contracts[0].number}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div >
                                        <ul uib-pagination total-items="$ctrl.totalItemsClients" items-per-page="$ctrl.itemsPerPage" max-size="$ctrl.maxSize" ng-model="$ctrl.currentPageClients" ng-change="$ctrl.pageChanged()"></ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
