<div class="ibox">
    <div class="ibox-title">Manage Tasks</div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h3>Lista tasków</h3>


                <table st-table="$ctrl.displayedTaskCollection" st-safe-src="$ctrl.taskCollection" st-set-filter="stCustomFilter"  class="table table-bordered">
                    <thead>
    

                        <tr>
                            <th colspan="6">
                                <div>
                                    <h4><strong>Filtrowanie</strong></h4>
                                </div>


                                <div class="row  clear-margin">


                                    <div class="col-md-5 well filtration-Box  clear-margin verticalCenter">
                                        <label class="control-label">Type:</label>
                                        <div class="checkbox-inline">
                                            <st-select-multiple-checkbox predicate="type" collection="$ctrl.taskCollection"></st-select-multiple-checkbox>
                                        </div>
                                    </div>

                                    <div class="col-md-1">

                                    </div>


                                    <div  authorize="ADMIN, MANAGER" class="col-md-5 well filtration-Box clear-margin verticalCenter">
                                        <div class="col-md-3">
                                            <label for="filtrationOperator" class="control-label" style="margin-right:10px">Operator: </label>
                                        </div>
                                        <!-- <div class="col-md-9"><st-select2   collection="$ctrl.taskCollection"   predicate="operator"></st-select2></div> -->
                                        <div class="col-md-9">
                                            <input st-search="operator" placeholder="search operator" class="input-sm form-control" type="search"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 spaceBetweenRow">

                                    </div>
                                </div>
                                <div class="row clear-margin">
                                    <div class="col-md-5 form-group  well filtration-Box clear-margin verticalCenter">
                                        <label class="control-label">Status:</label>
                                        <div class="checkbox-inline">
                                            <st-select-multiple-checkbox predicate="status" collection="$ctrl.taskCollection"></st-select-multiple-checkbox>
                                         </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="form-inline col-md-5  well filtration-Box clear-margin verticalCenter">
                                        <label class="control-label">Source: </label>

                                        <div class="checkbox-inline text-center">
                                        <st-select-multiple-checkbox predicate="source" collection="$ctrl.taskCollection"></st-select-multiple-checkbox>
                                         </div>
                                    </div>

                                </div>

                            </th>
                        </tr>
                        <tr>
                            <th class="sorting aq-table__header-sort" st-sort="col1">Title</th>
                            <th class="sorting aq-table__header-sort" st-sort="col2">Type</th>
                            <th class="sorting aq-table__header-sort" st-sort="col3">Created</th>
                            <th class="sorting aq-table__header-sort" st-sort="col3" authorize="ADMIN,MANAGER">Operator</th>
                            <th class="sorting aq-table__header-sort" st-sort="col3">Status</th>
                            <th st-sort="col3">Actions</th>

                        </tr>


                    </thead>
                    <tbody>
                        <tr ng-repeat="task in $ctrl.displayedTaskCollection">
                            <td>{{task.title}}</td>
                            <td>{{task.type}}</td>
                            <td>{{task.created | date}}</td>
                            <td authorize="ADMIN, MANAGER">{{task.operator}}</td>
                            <td>{{task.status}}</td>
                            <td>
                                <button ui-sref=".details({'taskId':task.id})" class="btn btn-default" ng-click="$ctrl.showTaskDetails(task)">Show details</button>
                                <assign-button authorize="ADMIN, MANAGER" logged-user="$ctrl.getUser()" on-select="$ctrl.getTask(task,selectedUser)" select-task=""></assign-button>

                                <div class="btn-group {{$ctrl.buttonGroupSize}}" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle ng-disabled="disabled">
                                More <span class="caret"></span>
                            </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li><a ng-click="$ctrl.cancelTask(task)">Cancel Task <span class="fa fa-trash"></span> </a> </li>
                                        <li><a ui-sref="index.tasks.edit({'taskId':task.id})">Edit <span  class="fa fa-edit"></span></a></li>

                                        <li ng-click="$ctrl.markAsResolved(task)"><a>Mark as resolved <span class="fa fa-check-square"></span></a> </li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div class="aq-pagination" st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <a ui-sref=".add" class="btn btn-primary col-sm-12">Add task</a>



            </div>
            <div class="col-sm-12 col-lg-6">
                <div ui-view="details">
                </div>
            </div>
        </div>
    </div>
</div>
