<div class="panel panel-default">
    <div class="panel-heading">Edit task</div>
    <div class="panel-body">

        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" placeholder="Name" ng-model="$ctrl.detailedTask.title" name="title" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <input type="text" placeholder="Description" name="title" ng-model="$ctrl.detailedTask.description" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Task type</label>
                <div class="col-lg-10">
                    <select ng-model="$ctrl.detailedTask.type" class="form-control" ng-options="value as value for (key , value) in $ctrl.taskDictionary.types">

                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Priority</label>
                <div class="col-lg-10">

                    <div>
                        <rzslider rz-slider-model="$ctrl.slider.value" rz-slider-options="$ctrl.slider.options"></rzslider>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label style="margin-top:30px" class="col-lg-2 control-label">Deadline</label>
                <div class="clear-margin  col-lg-10">
                    <div class="clear-margin  col-lg-10">
                        <div class="col-lg-7">
                            <input style="margin-top:34px" type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.detailedTask.deadlineDate" is-open="$ctrl.isOpenDeadlineDatapicker" ng-focus="$ctrl.showDeadlineCalendar(true)" datepicker-options="{showWeeks: false}"
                                ng-required="true" />

                        </div>
                        <div class="col-lg-3">
                            <div uib-timepicker ng-model="$ctrl.detailedTask.deadlineTime" hour-step="1" minute-step="15" show-meridian="false"></div>

                        </div>
                    </div>






                </div>


            </div>


            <div class="form-group">
                <label class="col-lg-2 control-label">Related to</label>
                <div class="col-lg-10">
                    <select ng-change="$ctrl.relationSelect($ctrl.detailedTask.relatedTo)" class="form-control" ng-model="$ctrl.detailedTask.relatedTo" ng-options="value as value for (key , value) in $ctrl.taskDictionary.relationsTo">

                    </select>
                </div>
            </div>

            <div ng-if="$ctrl.detailedTask.relatedTo &&$ctrl.detailedTask.relatedTo !=='TASK'" class="form-group">
                <label class="col-lg-2 control-label">{{$ctrl.newTask.relatedTo}}</label>

                <div class="col-lg-10" ng-if="$ctrl.detailedTask.relatedTo == 'CLIENT'" >
                    <ui-select ng-model="$ctrl.contract.selected" title="Choose ">
                        <ui-select-match  placeholder="Select or search contract...">{{$select.selected.firstName +' '+ $select.selected.surname +' '+$select.selected.companyName}}  </ui-select-match>


                        <ui-select-choices   ng-click="$ctrl.selectedRelation($select.selected)" repeat="contracts in $ctrl.relationsArray | filter: $select.search">

                            <span   ng-click="$ctrl.selectContract(contracts)" ng-bind-html="contracts.firstName +' '+contracts.surname | highlight: $select.search"></span>
                            <small ng-bind-html="contracts.companyName | highlight: $select.search"></small>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-lg-10" ng-if="$ctrl.detailedTask.relatedTo == 'CONTRACT'" >
                    <ui-select ng-model="$ctrl.contract.selected" title="Choose ">
                        <ui-select-match  placeholder="Select or search contract...">{{$select.selected.id }}  </ui-select-match>


                        <ui-select-choices   ng-click="$ctrl.selectedRelation($select.selected)" repeat="contracts in $ctrl.relationsArray | filter: $select.search">

                            <span   ng-click="$ctrl.selectContract(contracts)" ng-bind-html="'Numer kontraktu '+contracts.id | highlight: $select.search"></span>
                            <small ng-bind-html="'Utworzony '+contracts.created | highlight: $select.search"></small>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-lg-10" ng-if="$ctrl.detailedTask.relatedTo == 'EVENT'" >
                    <ui-select ng-model="$ctrl.contract.selected" title="Choose ">
                        <ui-select-match  placeholder="Select or search contract...">{{$select.selected.id}}  </ui-select-match>


                        <ui-select-choices   ng-click="$ctrl.selectedRelation($select.selected)" repeat="contracts in $ctrl.relationsArray | filter: $select.search">

                            <span   ng-click="$ctrl.selectContract(contracts)" ng-bind-html="'Numer eventu '+contracts.id | highlight: $select.search"></span>
                            <small ng-bind-html="contracts.firstName | highlight: $select.search"></small>


                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" authorize="ADMIN, MANAGER">
                <label class="col-lg-2 control-label">Operator</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="$ctrl.operator" ng-options="operator._links.self.href as (operator.surname+' '+operator.name) for operator in $ctrl.operators">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" style="margin-top: 34px;">Time alert</label>
                <div class="clear-margin  col-lg-10">

                    <div class="clear-margin col-md-10" ng-repeat="item in $ctrl.timeAlertArray">

                        <div class="col-md-7">
                            <input ng-disabled="$ctrl.removeDisabled[$index].isMain" style="margin-top: 34px;" type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.taskConfigCollection[$index].timeAlertDate" is-open="$ctrl.isOpenTimeAlertDatapicker[$index]" ng-focus="$ctrl.showTimeAlertCalendar($index,true)"
                                datepicker-options="{showWeeks: false}" />
                        </div>
                        <div class="col-md-3">
                            <div ng-disabled="$ctrl.removeDisabled[$index].isMain" uib-timepicker ng-model="$ctrl.taskConfigCollection[$index].timeAlertTime" hour-step="1" minute-step="15" show-meridian="false"></div>

                        </div>
                        <div class="col-md-2">
                            <button ng-disabled="$ctrl.removeDisabled[$index].isMain" style="margin-top: 40px;" type='submit' class='btn btn-xs btn-danger  glyphicon glyphicon-remove' ng-click="$ctrl.remove($index)"></button>

                        </div>
                    </div>


                    <div class="col-md-4">
                        <a ng-style="$ctrl.alertStyle && {'margin-top': '34px'}" class="btn btn-default" ng-click="$ctrl.addTimeAlert()">Dodaj alert </a>
                    </div>

                </div>

            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" ui-sref="index.tasks" type="submit">Cancel</button>
                    <button class="btn btn-primary" ng-click="$ctrl.saveEdit()" type="submit">Save</button>

                </div>
            </div>
        </form>
    </div>
</div>
