<div class="panel panel-default">
    <div class="panel-heading">Add new task</div>
    <div class="panel-body">

        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" placeholder="Name" ng-model="$ctrl.newTask.title" name="title" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <input type="text" placeholder="Description" name="description" ng-model="$ctrl.newTask.description" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Task type</label>
                <div class="col-lg-10">
                    <select ng-model="$ctrl.newTask.type" class="form-control" ng-options="value as value for (key , value) in $ctrl.taskDictionary.types">

                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Priority</label>
                <div class="col-lg-10">

                    <div>
                        <rzslider  rz-slider-model="$ctrl.slider.value" rz-slider-options="$ctrl.slider.options"></rzslider>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" style="margin-top: 30px;">Deadline</label>

                <div class="clear-margin  col-lg-10">
                  <div class="clear-margin col-md-10"  >
                    <div class="col-md-7">
                        <input style="margin-top:34px" type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.newTask.deadlineDate" is-open="$ctrl.isOpenDeadlineDatapicker" ng-focus="$ctrl.showDeadlineCalendar(true)" datepicker-options="{showWeeks: false}" ng-required="true"
                        />

                    </div>
                    <div class="col-md-3">
                        <div uib-timepicker ng-model="$ctrl.newTask.deadlineTime" hour-step="1" minute-step="15" show-meridian="false"></div>

                    </div>
                  </div>
                </div>





            </div>



            <div class="form-group">
                <label class="col-lg-2 control-label">Related to</label>
                <div class="col-lg-10">
                    <select ng-change="$ctrl.relationSelect($ctrl.newTask.relatedTo)" class="form-control" ng-model="$ctrl.newTask.relatedTo" ng-options="value as value for (key , value) in $ctrl.taskDictionary.relationsTo">

                    </select>
                </div>
            </div>
            <div ng-if="$ctrl.newTask.relatedTo &&$ctrl.newTask.relatedTo !=='TASK'" class="form-group" >
                <label class="col-lg-2 control-label">{{$ctrl.newTask.relatedTo}}</label>

                <div class="col-lg-10" ng-if="$ctrl.newTask.relatedTo == 'CLIENT'" >
                    <ui-select ng-model="ctrl.contract.selected" title="Choose ">
                        <ui-select-match  placeholder="Select or search contract...">{{$select.selected.firstName +' '+ $select.selected.surname +' '+$select.selected.companyName}}  </ui-select-match>


                        <ui-select-choices   ng-click="$ctrl.selectedRelation($select.selected)" repeat="contracts in $ctrl.relationsArray | filter: $select.search">

                            <span   ng-click="$ctrl.selectContract(contracts)" ng-bind-html="contracts.firstName +' '+contracts.surname | highlight: $select.search"></span>
                            <small ng-bind-html="contracts.companyName | highlight: $select.search"></small>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-lg-10" ng-if="$ctrl.newTask.relatedTo == 'CONTRACT'" >
                    <ui-select multiple ng-model="ctrl.contract.selected" title="Choose ">
                        <ui-select-match  placeholder="Select or search contract...">{{$select.selected.id }}  </ui-select-match>


                        <ui-select-choices   ng-click="$ctrl.selectedRelation($select.selected)" repeat="contracts in $ctrl.relationsArray | filter: $select.search">

                            <span   ng-click="$ctrl.selectContract(contracts)" ng-bind-html="'Numer kontraktu '+contracts.id | highlight: $select.search"></span>
                            <small ng-bind-html="'Utworzony '+contracts.created | highlight: $select.search"></small>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-lg-10" ng-if="$ctrl.newTask.relatedTo == 'EVENT'" >
                    <ui-select ng-model="ctrl.contract.selected" title="Choose ">
                        <ui-select-match  placeholder="Select or search contract...">{{$select.selected.id}}  </ui-select-match>


                        <ui-select-choices   ng-click="$ctrl.selectedRelation($select.selected)" repeat="contracts in $ctrl.relationsArray | filter: $select.search">

                            <span   ng-click="$ctrl.selectContract(contracts)" ng-bind-html="'Numer eventu '+contracts.id | highlight: $select.search"></span>
                            <small ng-bind-html="contracts.firstName | highlight: $select.search"></small>


                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" authorize="ADMIN, MANAGER">
                <label class="col-lg-2 control-label">Operator</label>
                <div class="col-lg-10">
                    <select  class="form-control" ng-model="$ctrl.newTask.user" ng-options="operator._links.self.href as (operator.surname+' '+operator.name) for operator in $ctrl.operators">

                    </select>
                </div>
            </div>


            <div  class="form-group" >
                <label  class="col-lg-2 control-label" style="margin-top: 34px;">Time alert</label>
                <div class="clear-margin  col-lg-10">

                        <div class="clear-margin col-md-10"   ng-repeat="item in $ctrl.timeAlertArray">

                                <div class="col-md-7">
                                    <input style="margin-top: 34px;" type="text" class="form-control" ng-model="$ctrl.taskConfingsDate.timeAlertDate[$index]"  uib-datepicker-popup  is-open="$ctrl.isOpenTimeAlertDatapicker[$index]" ng-focus="$ctrl.showTimeAlertCalendar($index,true)" datepicker-options="{showWeeks: false}"/>
                                </div>

                                <div class="col-md-3">
                                    <div  uib-timepicker ng-model="$ctrl.taskConfingsDate.timeAlertTime[$index]" hour-step="1" minute-step="15" show-meridian="false"></div>

                                </div>
                                <div class="col-md-2">
                                    <button  style="margin-top: 40px;" type='submit' class='btn btn-xs btn-danger  glyphicon glyphicon-remove' ng-click = "$ctrl.remove($index)"></button>

                                </div>
                        </div>


                        <div class="col-md-4">
                            <a ng-style="$ctrl.alertStyle && {'margin-top': '34px'}" class="btn btn-default" ng-click="$ctrl.addTimeAlert($index); $ctrl.alertStyle = false;">Dodaj alert </a>
                        </div>

                </div>

            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button  class="btn btn-primary" ng-click="$ctrl.saveNew()" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
