
<div class="panel panel-default">
    <div class="panel-heading">Tasks details</div>
    <div class="panel-body">
        <table class="table table-hover ">
            <tr>
                <td>
                    <label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        {{$ctrl.detailedTask.title}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        {{$ctrl.detailedTask.description}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-lg-2 control-label">Task type</label>
                    <div class="col-lg-10">
                        {{$ctrl.detailedTask.type}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-lg-2 control-label">Deadline</label>
                    <div class="col-lg-10">
                        {{$ctrl.detailedTask.deadline}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-lg-2 control-label">Related to</label>
                    <div class="col-lg-10">
                        {{$ctrl.detailedTask.relatedTo}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-lg-2 control-label">Alert Time</label>
                    <div   ng-repeat="taskConf in $ctrl.taskConfigCollection">
                        <div  ng-Class="$index >1 ?'col-lg-2' : 'col-lg-10'">

                        </div>
                        {{taskConf.remindDate}}
                    </div>
                </td>
            </tr>
        </table>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-danger" ng-click="$ctrl.cancelTask($ctrl.detailedTask)" type="submit">Cancel task</button>
                <button ui-sref = "index.tasks.edit({'taskId' : $ctrl.detailedTask.id})" class="btn btn-primary" type="submit">Edit</button>
                <button class="btn btn-success" ng-click="$ctrl.markAsResolved($ctrl.detailedTask)" type="submit">Mark as resolved</button>
            </div>
        </div>
    </div>
</div>
