.filtration-Box{
    background-color:#E7E7E7;
     min-height:45px;
     max-height:80px;
}

.spaceBetweenRow{
    height: 10px;
}
.verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.labelNormal{
    font-weight: normal !important;
    margin-right: 15px;

}
