<div class="form-inline form--tiny">
    <label class="control-label">Aktywny użytkownik: </label>

    <select class="form-control" ng-model="$ctrl.activeUserId"  ng-change="$ctrl.switchUser()" ng-options="user.id as user.username for user in $ctrl.users">

    </select>
</div>
