<form class="form-horizontal">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">

            <label class="col-lg-2 control-label">Date:</label>
            <div class="col-md-5">
                <p class="input-group">
                    <input type="text"
                        class="form-control"
                        placeholder="From"
                        uib-datepicker-popup = {{aqSearchDateFormat}}
                        ng-model="aqSearchDateFrom"
                        is-open="aqSearchCalendarFrom.opened"
                        datepicker-options="dateOptions"
                        ng-required="true" close-text="Close"
                        />

                    <span class="input-group-btn">
                        <button
                            type="button"
                            class="btn btn-default"
                            ng-click="aqSearchSelectDateFrom()">
                                <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>

            <div class="col-md-5">
                <p class="input-group">
                    <input type="text"
                        class="form-control"
                        placeholder="To"
                        uib-datepicker-popup = {{aqSearchDateFormat}}
                        ng-model="aqSearchDateTo"
                        is-open="aqSearchCalendarTo.opened"
                        datepicker-options="dateOptions"
                        ng-required="true" close-text="Close"
                        />
                    <span class="input-group-btn">
                        <button
                            type="button"
                            class="btn btn-default"
                            ng-click="aqSearchSelectDateTo()">
                                <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>

            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Email:</label>
            <div class="col-lg-10">
                <input type="email"
                    class="form-control"
                    name="title"
                    ng-model="aqSearchEmail">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Phone</label>
            <div class="col-lg-10">
                <input type="text"
                    class="form-control"
                    minlength="5"
                    maxlength="18"
                    ng-model="aqSearchPhone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Status:</label>
            <div class="col-lg-10">
                <div class="row">
                        <div class="col-lg-6">
                            <input type="text"
                                class="form-control"
                                placeholder="From"
                                ng-model="aqSearchStatusFrom">
                        </div>
                        <div class="col-lg-6">
                            <input type="text"
                                class="form-control"
                                placeholder="To"
                                ng-model="aqSearchStatusTo">
                        </div>

                </div>
                </div>

                <!-- <select
                    class="form-control"
                    ng-model="aqSearchStatus"
                    ng-options="item for item in clientController.status">
                </select> -->


            </div>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="col-lg-6 col-md-6 col-sm-6">

        <div class="form-group">
            <label class="col-lg-4 control-label">UTM Source:</label>
            <div class="col-lg-8">
                <input type="text"
                    class="form-control"
                    ng-model="aqSearchSource">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">UTM Medium:</label>
            <div class="col-lg-8">
                <input type="text" ng-model="aqSearchMedium" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">UTM Campaign:</label>
            <div class="col-lg-8">
                <input type="text" ng-model="aqSearchCampaign" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">First Name:</label>
            <div class="col-lg-8">
                <input type="text" ng-model="aqSearchFirstName" class="form-control">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-1 col-md-offset-11">
            <p><button ng-click="aqSearchGetData()" type="button" class="btn btn-primary btn-md">Pokaż</button></p>
        </div>
    </div>

</form>
