<div class="row">

    <form class="form-horizontal">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row"></div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Numer PPE:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Numer licznika:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeMeterNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Numer ewidencyjny:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeRegistrationNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Moc zamówiona:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpePower">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row"></div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Roczne zużycie:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeYearlyUsage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Miasto:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeCity">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Ulica:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeStreet">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr budynku:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeHouse">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nr lokalu:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpeApartment">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Kod pocztowy:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="aqFinderPpePostalCode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Taryfa:</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="clientType" ng-model="aqFinderPpeTariff">
                                <option value=""></option>
                                <option value="G11">G11</option>
                                <option value="G12">G12</option>
                                <option value="G12w">G12w</option>
                                <option value="G12r">G12r</option>
                            </select><br>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-8">
                                <label>Wysukiwanie dowolne:</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="aqFinderGlobalSearch">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="aqFinderGetData()" type="button" class="btn btn-primary btn-md">Wyszukaj</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="aqFinderClearData()" type="button" class="btn btn-primary btn-md">Wyczyść</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <button ng-click="" type="button" class="btn btn-primary btn-md">Export do xls</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- client table -->
<div class="row">
    <div class="col-lg-12">
        <div class="table table-responsive">
            <!-- endpoint-source-name -->
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>lp.</th>
                        <th>Numer PPE</th>
                        <th>Numer licznika</th>
                        <th>Numer ewidencyjny</th>
                        <th>Moc zamówiona</th>
                        <th>Roczne zużycie</th>

                        <th>Miasto</th>
                        <th>Ulica</th>
                        <th>Nr budynku</th>
                        <th>Nr lokalu</th>
                        <th>Kod pocztowy</th>
                        <th>Taryfa</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ng-if="aqFinderClientType=='INDIVIDUAL'?client.firstName:client.companyName" -->
                    <tr ng-repeat="ppes in  $ctrl.dataFromServiceCollectionPpe">
                        <td><input type="checkbox"  ng-click="$ctrl.rowSelectionChange(ppes)"> </td>
                        <td>{{ppes.id}}</td>
                        <td>{{ppes.number }}</td>
                        <td>{{ppes.meterNumber }}</td>
                        <td>{{ppes.registrationNumber }}</td>
                        <td>{{ppes.power }}</td>
                        <td>{{ppes.yearlyUsage }}</td>

                        <td>{{ppes.city }}</td>
                        <td>{{ppes.street }}</td>
                        <td>{{ppes.house }}</td>
                        <td>{{ppes.apartment }}</td>
                        <td>{{ppes.postalCode }}</td>
                        <td>{{ppes.tariff }}</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div >
                                <ul uib-pagination total-items="$ctrl.totalItemsClients" items-per-page="$ctrl.itemsPerPage" max-size="$ctrl.maxSize" ng-model="$ctrl.currentPageClients" ng-change="$ctrl.pageChanged()"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
