<div class="panel panel-default">
    <div class="panel-heading">
        Finder
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-6">
                            <ul class="nav nav-tabs">
                              <li ui-sref-active="active"><a ui-sref="index.finder.clients">Clients</a></li>
                              <li ui-sref-active="active"><a ui-sref="index.finder.contracts">Contracts</a></li>
                              <li ui-sref-active="active"><a ui-sref="index.finder.ppes">PPES</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
