<li uib-dropdown>
    <a class="count-info" href uib-dropdown-toggle>
        <i class="fa fa-bell" ></i><span ng-hide="$ctrl.actualNotifications.length == 0" ng-class="{'bell': $ctrl.bellShake}" class="label label-primary ">{{$ctrl.actualNotifications.length}}</span>
    </a>
    <ul class="dropdown-alerts" ng-click="$event.stopPropagation()" uib-dropdown-menu>
        <li ng-repeat="notification in $ctrl.notificationCollection">
            <aq-notification-item on-mark-as-done="$ctrl.removeElement($index)" item="notification"> </aq-notification-item>
        </li>
    </ul>

</li>
