<div class="row ">
        <a class="col-md-8" ng-click="$ctrl.showNewPage($ctrl.item)">
            <div>
                <i class="fa " ng-class="$ctrl.item.relatedTo=='EVENT'? 'fa-briefcase' : ($ctrl.item.relatedTo=='CLIENT' ? 'fa-user' : 'fa-file-text') "></i> {{$ctrl.item.title}}
                <p class=" text-muted small">{{$ctrl.item.description}}</p>
            </div>
            <span class="text-muted small"><strong>Related to: </strong>{{$ctrl.item.relatedTo}}</span>
            <i style="float:right" ng-class="{'fa fa-user-plus fa-lg' :$ctrl.item.substitutions }" ></i>

        </a>
        <div class="col-md-4 ">
            <button style="margin-top:15px"  class="btn btn-primary btn-xs"  ng-click="$ctrl.setPropertyIsRead($ctrl.item)"><span class="glyphicon glyphicon-ok"></span></button>

        </div>

    <li class="divider"></li>

</div>

<div class="divider"></div>
