
    <div class="mail-box-header">
        <div class="pull-right tooltip-demo">
            <a ng-click="$ctrl.discard()" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
            <a ui-sref="inbox" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
            <a ng-click="$ctrl.send($ctrl.detail)" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-send"></i> Send</a>
        </div>
        <h2>
            Compsoe mail
        </h2>
    </div>
    <div class="mail-box">


        <div class="mail-body">

            <form class="form-horizontal" method="get">

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-sm  pull-right ">
                            <button class="btn btn-default" type="button" ng-click="$ctrl.toCcInput = ($ctrl.toCcInput ? false : true)"><i class="fa fa-users" ></i> Add CC</button>
                            <button class="btn btn-default" type="button" ng-click="$ctrl.toBccInput = ($ctrl.toBccInput ? false : true)"><i class="fa fa-user-secret"></i> Add BCC</button>
                            <button class="btn btn-default" type="button" ng-click="$ctrl.useTemplate()"><i class="fa fa-file-text-o" ></i> Use template</button>
                            <button class="btn btn-default" type="button" ng-click="$ctrl.addAttachments()"><i class="fa fa-paperclip"></i> Add attachement</button>

                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">To:</label>

                    <div class="col-sm-10">

                    {{$ctrl.detail.fromArray}}
                        <client-book-search-input ng-model="$ctrl.detail.toArray"  client-book-flat="$ctrl.clientBookFlat" placeholder="Start typing to get hint..."></client-book-search-input>


                    </div>
                </div>

                <div class="form-group" ng-if="$ctrl.toCcInput">
                    <label class="col-sm-2 control-label">Cc:</label>
                    <div class="col-sm-10">
                        <address-book-search-input ng-model="$ctrl.detail.CcToArray"   address-book-projection="$ctrl.addressBook" placeholder="Start typing to get hint..."></address-book-search-input>
                    </div>
                </div>

                <div class="form-group" ng-if="$ctrl.toBccInput">
                    <label class="col-sm-2 control-label">Bcc:</label>
                    <div class="col-sm-10">
                        <address-book-search-input ng-model="$ctrl.detail.BccToArray"   address-book-projection="$ctrl.addressBook" placeholder="Start typing to get hint..."></address-book-search-input>
                    </div>
                </div>


                <div class="form-group"><label class="col-sm-2 control-label">Subject:</label> </span>

                    <div class="col-sm-10"><input type="text" class="form-control" value="" ng-model="$ctrl.detail.subject"></div>
                </div>
            </form>

        </div>

        <div class="mail-text h-200">

            <textarea ui-tinymce="$ctrl.tinymceOptionsDefault" ng-model="$ctrl.detail.contentHtml"></textarea>

            <div class="clearfix"></div>
        </div>

        <div>
            <button ng-click="$ctrl.send($ctrl.detail)" class="btn btn-sm btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-send"></i> Send</button>
            <button ng-disabled="!$ctrl.detail.contentHtml"  ng-click=" $ctrl.openPreview($ctrl.detail)" class="btn btn-sm btn-success btn-block" data-toggle="tooltip" data-placement="top" title="Preview"><i class="fa fa-search-plus"></i> Preview</button>
        </div>
        <div class="clearfix"></div>


    </div>
