
    <div class="mail-box-header">


        <h2>
            {{$ctrl.type}} (16)
        </h2>

        <div class="mail-tools tooltip-demo m-t-md">

            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i></button>
            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i></button>
            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>


    <div class="mail-box">
        <table st-table="$ctrl.displayedMessages" st-safe-src="$ctrl.messages" st-set-filter="stCustomFilter" class="table table-hover table-mail aq-table">
            <thead>
                <tr class="aq-table__filters">
                    <th colspan="4">
                        <h4 class="text-center">Filters</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>

                                        <div class="col-md-8"><st-select-distinct collection="$ctrl.messages" predicate="toAddress"></st-select-distinct></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>
                                        <div class="col-md-8"><st-select2 collection="$ctrl.messages" predicate="toAddress" placeholder="All"></st-select2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-8">
                                            <st-date-range predicate="createdDate" before="query.before" after="query.after"></st-date-range>
                                            <!-- <st-number-range predicate="balance" lower="query.lower" higher="query.higher"></st-number-range>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label ">
                                            Is client
                                        </label>
                                        <div class="col-md-2">
                                            <st-select-boolean predicate="client"></st-select-boolean>
                                        </div>

                                        <label class="col-md-2 control-label ">
                                            Is read
                                        </label>
                                        <div class="col-md-2">
                                            <st-select-boolean predicate="isViewed"></st-select-boolean>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th class="sorting"></th>
                    <th class="sorting aq-table__header-sort" st-sort="to">{{$ctrl.getRecipientColumnName()}}</th>

                    <th class="sorting aq-table__header-sort" st-sort="subject">Subject</th>

                    <th class="sorting aq-table__header-sort" st-sort="sendDate" st-sort-default="reverse">Date</th>

                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="message in $ctrl.displayedMessages" ng-class="{'unread' : !message.isViewed, 'read' : message.isViewed }">
                    <td class="check-mail">
                        <input icheck type="checkbox" ng-model="main.checkOne"/>
                    </td>

                    <td class="mail-contact"><a ui-sref="index.email.mailbox.message.detail({id: message.id})">{{$ctrl.getRecipient(message)}}</a><span class="label label-warning pull-right">Clients</span></td>
                    <td class="mail-subject"><a ui-sref="index.email.mailbox.message.detail({id: message.id})">{{message.subject}} <i class="fa fa-paperclip" ng-show="message.attachments"></i></a> </td>

                    <td class="text-right mail-date">{{message.sentDate | date : 'short' }}</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <st-pagination st-items-by-page="3" st-displayed-pages="7" st-template="app/components/stTableExtensions/stPagination/stPaginationPrevNext.html"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
