
<ul class="folder-list m-b-md" style="">
    <li ng-repeat="folder in $ctrl.folders">

        <a ui-sref="index.email.mailbox.box({'boxType':folder.mailboxType,'emailAccountId':$ctrl.accountId })"> <i class="fa fa-inbox "></i> {{folder.mailboxType}} <span class="label label-warning pull-right">{{folder.unreadCount}}</span> </a>
    </li>
</ul>
