<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="index.email.mailbox.message.compose({id:0})"><i class="fa fa-envelope-o"></i> Compose Mail</a>

                        <div class="space-25"></div>
                        <div ng-repeat="account in emailAccountsMailboxes" >
                            <h5>{{account.address}}</h5>

                            <mailbox-folders  unread="$resolve.unread" folders="account.mailboxes" account-id="{{account.id}}"></mailbox-folders>

                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="ibox">
                <a class="btn btn-block btn-success btn-rounded" ui-sref="index.email.addressBook"><i class="fa fa-book"></i> Menage address book</a>
            </div>

        </div>
        <div class="col-md-9 animated fadeInRight">
            <div ui-view="content" class="animated fadeInRight">

            </div>
        </div>
    </div>
</div>
