    <div class="mail-box-header">
        <div class="pull-right tooltip-demo">
            <a ui-sref="index.email.mailbox.message.replay" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> </a>
            <a ui-sref="index.email.mailbox.message.forward" class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="top" title="Forward"><i class="fa fa-arrow-right"></i> </a>
            <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
            <a ui-sref="inbox" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a>
        </div>
        <h2>
            View Message
        </h2>

        <div class="mail-tools tooltip-demo m-t-md">


            <h3>
                <span class="font-noraml">Subject: </span>{{$ctrl.detail.subject}}.
            </h3>
            <h5>
                <span class="pull-right font-noraml">{{$ctrl.detail.sendDate}}</span>
                <span class="font-noraml">From: </span>{{$ctrl.detail.fromAddress}}
            </h5>
        </div>
    </div>
    <div class="mail-box">


        <div class="mail-body">
            <p ng-bind-html="$ctrl.detail.contentHtml">

            </p>


        </div>
        <div class="mail-attachment">

            <p>
                <span><i class="fa fa-paperclip"></i> <span>{{$ctrl.detail.attachmentsCollection.length}}</span> attachments - </span>
                <a href="">Download all</a>

            </p>

            <div class="attachment">
                <div class="file-box" ng-repeat="attachment in $ctrl.detail.attachmentsCollection">
                    <div class="file">
                        <a href="api/custom/applicationFiles/{{attachment.id}}" target="_blank" >
                            <span class="corner"></span>

                            <div class="icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="file-name">
                                {{attachment.sourceFileName}}
                                <br/>
                                <small>{{attachment.created | date }}</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="mail-body text-right tooltip-demo">
	    <a ui-sref="index.email.mailbox.message.replay" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
            <a ui-sref="index.email.mailbox.message.forward" class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="top" title="Forward"><i class="fa fa-arrow-right"></i> Forward</a>
            <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>
            <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Remove</button>
        </div>
        <div class="clearfix"></div>


    </div>
